<ion-view view-title="Creating New Game">
  <ion-content>
  	<div class="container">
  		<div class="row-mat">
  			<div class="input-field col s6">
	          <input id="last_name" type="text" class="validate">
	          <label for="last_name">Game Name</label>
    		</div>
  		</div>
  		<div class="row-mt">
        <div class="col s12 m7">
          <div class="card hoverable">
            <div class="card-image">
              <img src="img/tod.png" style="height: 100px">
              <span class="card-title">Tower Of David</span>
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <div class="card hoverable">
            <div class="card-image">
              <img src="img/mym.jpg" style="height: 100px">
              <span class="card-title">Machane Yehuda Market</span>
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <div class="card hoverable">
            <div class="card-image">
              <img src="img/joc.jpg" style="height: 100px">
              <span class="card-title">The Old City</span>
            </div>
          </div>
        </div>
      </div>
  	</div>
    
  </ion-content>
</ion-view>
