<ion-view view-title="Team & Game Creation">
<ion-nav-bar class="pink lighten-1 white-text">
    	<ion-nav-back-button class="white-text">
      </ion-nav-back-button>
   <!-- Toggle left side menu -->
  </ion-nav-bar>
  <ion-content class="grey lighten-3">
  	<div class="container">
  		<div class="row-mat white-text">
  			<div class="input-field col s6">
	          <input id="last_name" type="text" class="validate">
	          <label for="last_name">Team Name</label>
    		</div>
  		</div>
  		<div class="row-mt">
        <div class="col s12 m7">
          <div class="card hoverable">
            <div class="card-image" style="height: 100px;
										    background-image: url(img/tod.jpg);
										    background-repeat: no-repeat;
										    background-size: 100%;
										    background-position: 0 -76px;">
              <span class="card-title">Tower Of David</span>
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <div class="card hoverable"> 
            <div class="card-image" style="height: 100px;
										    background-image: url(img/mym.jpg);
										    background-repeat: no-repeat;
										    background-size: 100%;
										    background-position: 0 -94px;">
              <span class="card-title">Machane Yehuda Market</span>
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <div class="card hoverable">
            <div class="card-image" style="height: 100px;
										    background-image: url(img/todpin.jpg);
										    background-repeat: no-repeat;
										    background-size: 100%;
										    background-position: 0 -121px;">
              <span class="card-title">The Old City</span>
            </div>
          </div>
        </div>
      </div>
  	</div>
    
  </ion-content>
</ion-view>
