<ion-view view-title="Select Place">
<ion-nav-bar class="pink darken-1 white-text">
    	<ion-nav-back-button class="white-text">
      </ion-nav-back-button>
   <!-- Toggle left side menu -->
  </ion-nav-bar>
  <ion-content class="grey lighten-3">
  	<div class="container">
  		<div class="row-mt">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/tod.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Tower Of David<i class="material-icons right">info</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">About the Museum<i class="material-icons right">close</i></span>
              <br>
              <p>
              The Tower of David Museum of the History of Jerusalem is located in the medieval citadel known as the Tower of David, near the Jaffa Gate, the historic entrance to the Old City.
              </p>
            </div>
            <div class="card-action">
              <div class="center">
                <a class="btn waves-effect waves-light green" href=#/app/tod>
                  Start Game
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-mt">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/smy.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Machane Yehuda Market
                <i class="material-icons right">info</i>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                About the Machane Yehuda Market
                <i class="material-icons right">close</i>
              </span>
              <br>
              <p>
                World-famous icons of Jerusalem include the Western Wall, the Tower of David and the Machane Yehuda market. The Western Wall and the Tower of David represent the religious, historical nature of Jerusalem, the place from which the Jewish people developed. Machane Yehuda market, however, represents the contemporary—and the future—heart of Jerusalem. Machane Yehuda integrates, in a unique way, the old and the new. Both a bustling marketplace and a neighborhood, it incorporates food, drink, shopping, bars, restaurants. The shuk still retains its most important characteristics: it remains authentic, with all the flavors and aromas, the colors and the traders' interaction with the crowds. 
              </p>
              <p>
                The Machane Yehuda market is widely recognized as a symbol of the Jerusalem, and for a very good reason: Jerusalemites see it as a place that represents them, symbolizes them, and gives them a unique identity in a larger Israeli social context. It is nicknamed "MachneYuda," which is also the name of one of the finest Israeli restaurants located in the market. But this name has something inexpressible to language. It is beyond words, because it reminds Jerusalemites of themselves, their childhoods, and the Jerusalem they love. Even though Jerusalem today has many shopping and entertainment centers, some are even at several hotels in Jerusalem, there is something about the Machane Yehuda market that attracts people, even without a shopping list. Perhaps it is the ability to simply be who we are--people who love life and who love Jerusalem.
              </p>
            </div>
            <div class="card-action">
              <div class="center">
                <a class="btn waves-effect waves-light green" href=#/app/tod>
                  Start Game
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-mt">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/oldcity.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Old City Jerusalem<i class="material-icons right">info</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                About the Machane Yehuda Market
                <i class="material-icons right">close</i>
               </span>
              <br> 
              <p>
              World-famous icons of Jerusalem include the Western Wall, the Tower of David and the Machane Yehuda market. The Western Wall and the Tower of David represent the religious, historical nature of Jerusalem, the place from which the Jewish people developed. Machane Yehuda market, however, represents the contemporary—and the future—heart of Jerusalem. Machane Yehuda integrates, in a unique way, the old and the new. Both a bustling marketplace and a neighborhood, it incorporates food, drink, shopping, bars, restaurants. The shuk still retains its most important characteristics: it remains authentic, with all the flavors and aromas, the colors and the traders' interaction with the crowds.
              </p>
              <p>
              The Machane Yehuda market is widely recognized as a symbol of the Jerusalem, and for a very good reason: Jerusalemites see it as a place that represents them, symbolizes them, and gives them a unique identity in a larger Israeli social context. It is nicknamed "MachneYuda," which is also the name of one of the finest Israeli restaurants located in the market. But this name has something inexpressible to language. It is beyond words, because it reminds Jerusalemites of themselves, their childhoods, and the Jerusalem they love. Even though Jerusalem today has many shopping and entertainment centers, some are even at several hotels in Jerusalem, there is something about the Machane Yehuda market that attracts people, even without a shopping list. Perhaps it is the ability to simply be who we are--people who love life and who love Jerusalem.
              </p>
            </div>
            <div class="card-action">
              <div class="center">
                <a class="btn waves-effect waves-light green" href=#/app/tod>
                  Start Game
                </a>
              </div>
            </div>
          </div>
        </div>
  	</div>
    
  </ion-content>
</ion-view>
