<ion-view view-title="Playlist">
  <ion-content class="grey lighten-3">
  	<div class="container" style="height: 100%;">
		<div style="height: 40%">
			<a href="#/app/groupCreator">
			    <div class="card animated slideInDown" style="height: 100%; background-image: url(img/up.png); background-repeat: no-repeat; background-position: 50% 100%; background-size: 60%;">
			    </div>
		    </a>
		</div>
		<div class="center" style="height: 6%">
			<h4 style="font-family: monospace; color: #283640">CHOOSE MODE</h4>
		</div>
		<div style="height: 47%">
			<a href="#/app/groupCreator">
			    <div class="card animated slideInUp" style="height: 100%; background-image: url(img/down.png); background-repeat: no-repeat; background-position: 50% 0%; background-size: 60%;">
			    </div>
		    </a>
		</div>
	</div>
  </ion-content>
</ion-view>

