<ion-view view-title="Playlist">
  <ion-content>
  	<div class="container" style="height: 100%;">
  	
	<div style="height: 50%">
	    <div class="card" style="height: 100%; position: relative; z-index: -1; background-image: url(img/up.png); background-repeat: no-repeat; background-position: 50% 100%; background-size: 60%;">
	    </div>
	</div>
	<div style="height: 50%">
	    <div class="card" style="height: 100%; position: relative; z-index: -1; background-image: url(img/down.png); background-repeat: no-repeat;     background-position: 50% 10%; background-size: 60%;">
	    </div>
	</div>
	
	</div>
  </ion-content>
</ion-view>

